.servicesBlock {
  padding-bottom: 160px;

  @media (max-width: 1200px) {
    padding-bottom: 100px;
    padding-top: 7px;
  }
}

.slider {
  overflow: visible !important;
  margin: 0 80px 0 80px;

  @media (max-width: 1200px) {
    margin: 0 16px 0 16px;

    > div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
      gap: 24px;
    }
  }
}

.servicesHeader {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 18px;

  @media (max-width: 768px) {
    gap: 32px;
  }

  h2 {
    max-width: 521px;
    font-family: "SuisseIntl", sans-serif;
    color: #26272b;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;

    @media (max-width: 768px) {
      font-size: 38px;
      line-height: 46px;
    }
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 36px;
    }

    p {
      max-width: 457px;
      font-size: 16px;
      color: #3d3e40;
      line-height: 22px;
      font-family: "SuisseIntl", sans-serif;
      font-weight: 450;

      @media (max-width: 768px) {
        color: #3f3f3f;
        font-weight: 400;
      }
    }
  }
}

.sliderBtn {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 12px;

  button {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f3f7;
    border-radius: 50%;
  }
}
