.content {
  max-width: 318px;
  height: 540px;
  background: #f3f4f6;
  border-radius: 32px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;

  @media (max-width: 1515px) {
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
  }

  @media (max-width: 767px) {
    justify-items: center;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image {
  padding: 6px;
  position: relative;
  img {
    height: 185px;
    border-radius: 26px;
    width: 100%;
  }
}

.text {
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.title {
  font-size: 28px;
  line-height: 29px;
  color: #181818;
}

.description {
  font-size: 16px;
  line-height: 18px;
  color: #656565;
}

.btn {
  margin: 6px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  line-height: 18px;
  color: #656565;
  background: white;
  border-radius: 25px;
}

.block {
  margin-bottom: 116px;
}

.highlighted {
  background: #c0ff00;
  color: #000;
  border-radius: 100px;
  padding: 3px 7px 1px 7px;
  display: inline-block;
  transform: rotate(1deg);
  font-size: 32px;
  line-height: 37px;
  position: absolute;
  right: 17px;
  bottom: 15px;
}
