.services {
  font-family: "SuisseIntl", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  gap: 36px;

  h2 {
    color: #292929;
    font-size: 36px;
    line-height: 45px;

    @media (max-width: 991px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 38px;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 390px));
    gap: 16px;

    align-items: stretch; // тянем элементы на всю высоту строки

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }

  .item {
    display: flex;
    flex-direction: column; // чтобы header и body выстраивались вертикально
    height: 100%; // теперь сама карточка растягивается

    .header {
      height: 190px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      position: relative;

      .image {
        position: absolute;
        inset: 0; /* заменяет top/left/right/bottom */
        padding-top: 25px;
        margin: auto;
        max-width: 100%; /* можно регулировать */
        max-height: 100%;
        object-fit: contain;
      }
    }

    .body {
      flex: 1;
      background: #f1f2f6;

      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      padding: 32px 28px 28px 28px;

      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      @media (max-width: 768px) {
        gap: 24px;
      }

      .title {
        text-align: center;
        font-size: 24px;
        padding: 0 32px;
        line-height: 130%;
        color: #3f3f3f;

        @media (max-width: 768px) {
          padding: 0 16px;
        }
      }

      .description {
        text-align: center;
        font-size: 14px;
        color: #3f3f3f;
        font-weight: 450;
        line-height: 130%;
      }
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 160px;

  overflow: hidden;
  @media (max-width: 768px) {
    gap: 100px;
  }
}

.banner {
  margin: 0 !important;
}
