.container {
  position: relative;
  margin-top: 160px;

  height: 448px;
  border-radius: 24px;
  background: linear-gradient(180deg, #292929 0%, #151515 100%);

  @media (max-width: 768px) {
    margin-top: 100px;
    height: 688px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 64px 46px 38px 72px;
    height: 100%;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
      padding: 36px 42px 0px 44px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 768px) {
        gap: 56px;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        color: #abacb2;
        font-weight: 450;

        max-width: 261px;

        font-family: "SuisseIntl", sans-serif;

        @media (min-width: 768px) {
          padding-top: 21px;
        }
        @media (max-width: 768px) {
          text-align: center;
        }
      }

      span {
        font-size: 11px;
        line-height: 12px;
        position: absolute;
        left: 35px;
        bottom: 15px;
        color: #fff;
        // text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.82),
        //   1px -1px 5px rgba(0, 0, 0, 0.82), -1px 1px 5px rgba(0, 0, 0, 0.82),
        //   1px 1px 5px rgba(0, 0, 0, 0.82);

        color: white;

        @media (max-width: 900px) {
          bottom: 15px;
          left: 20px;
        }
      }
    }

    .image {
      position: absolute;
      left: 45px;
      bottom: -20px;
      max-width: 485px;

      @media (max-width: 768px) {
        position: relative;
        left: 0;

        max-height: 205px;
      }
    }
  }

  .buttons {
    display: flex;
    color: #fff;
    z-index: 2;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 270px;

    @media (min-width: 768px) {
      align-self: flex-end;
      max-width: 100%;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
      line-height: 100px;
      height: 50px;
      border-radius: 12px;
      transition: all 0.45s ease-out 0s;

      &.blue {
        background: #204ff5;

        @media (any-hover: hover) {
          &:hover {
            background: #0a3ae1;
          }
        }
      }
      &.none {
        background: transparent;
        border: 1px solid #929398;

        color: white;

        @media (any-hover: hover) {
          &:hover {
            border-color: #204ff5;
            color: #204ff5;
          }
        }
      }
    }
  }

  h3 {
    font-size: 40px;
    line-height: 100%;
    font-weight: 500;
    color: white;

    font-family: "SuisseIntl", sans-serif;

    @media (max-width: 768px) {
      text-align: center;
      display: flex;
      align-items: center;
      gap: 24px;
      flex-direction: column;
    }

    b {
      // background: #c0ff00;
      position: relative;
      padding: 5px 10px 3px 10px;
      display: inline-block;

      @media (max-width: 768px) {
        display: block;
        width: fit-content;
      }

      span {
        position: relative;
        color: #292929;
        z-index: 5;
      }

      svg {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        // z-index: -1;
        width: 100%;
        height: 51px;
      }
    }
  }
}
