.container {
  position: relative;
  margin-top: 160px;

  overflow: hidden;
  height: 448px;
  border-radius: 24px;

  @media (max-width: 768px) {
    margin-top: 100px;
    height: 780px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      padding: 48px 0 38px 54px;
      width: 100%;

      @media (max-width: 768px) {
        align-items: center;
        gap: 40px;
        padding: 40px 18px 0 18px;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;

        @media (max-width: 768px) {
          width: 100%;
          align-items: center;
          justify-content: center;
        }

        @media (min-width: 768px) {
          max-width: 450px;
        }

        h3 {
          font-size: 40px;
          line-height: 40px;
          font-weight: 500;
          color: #cad4f3;
          font-family: "SuisseIntl", sans-serif;

          @media (max-width: 768px) {
            font-size: 40px;
            text-align: center;
            display: flex;
            align-items: center;
          }
        }

        p {
          color: #a9b0bf;
          font-weight: 400;
          font-family: "SuisseIntl", sans-serif;

          font-size: 18px;
          line-height: 22px;

          @media (max-width: 768px) {
            text-align: center;
            display: flex;
            align-items: center;
          }
        }
      }

      .buttons {
        display: flex;
        color: #fff;
        z-index: 2;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 262px;

        @media (max-width: 768px) {
          max-width: 400px;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          cursor: pointer;
          line-height: 100px;
          height: 50px;
          border-radius: 12px;
          transition: all 0.45s ease-out 0s;

          &.blue {
            background: #204ff5;

            @media (any-hover: hover) {
              &:hover {
                background: #0a3ae1;
              }
            }
          }
          &.none {
            background: transparent;
            border: 1px solid #929398;

            color: white;

            @media (any-hover: hover) {
              &:hover {
                border-color: #204ff5;
                color: #204ff5;
              }
            }
          }
        }
      }
    }

    .right {
      position: relative;
      width: 100%;
      max-width: 520px;

      @media (max-width: 768px) {
        max-width: 100%;
        height: 100%;
      }

      .image {
        position: relative;
        height: 100%;
        width: 100%;
        // overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        /* ореол */
        &::before {
          content: "";
          position: absolute;
          right: -60px;
          bottom: -40px;

          width: 408px;
          height: 408px;
          border-radius: 50%;
          background: var(--effect-color);
          opacity: 0.3;

          filter: blur(160px);
          mix-blend-mode: plus-lighter;
          z-index: 0;
        }

        /* яркое ядро */
        &::after {
          content: "";
          position: absolute;
          right: -20px;
          bottom: -10px;

          width: 358px;
          height: 358px;
          border-radius: 50%;
          background: var(--effect-color);

          filter: blur(120px);
          mix-blend-mode: plus-lighter;
          z-index: 0;
        }

        img {
          position: absolute;
          right: 0;
          bottom: 0px;
          z-index: 1;

          width: 100%;
          max-width: 520px;
          height: auto;
          object-fit: contain;

          filter: drop-shadow(0 30px 60px rgba(0, 0, 0, 0.35));

          @media (max-width: 768px) {
            bottom: 35px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
