.grecaptcha-badge {
  display: none;
}

// body {
// -webkit-user-select: none;
// -khtml-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// -o-user-select: none;
// user-select: none;
// }

#loadingScreen {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  transition: border-radius 1s, transform 1s;
}

#percentage {
  color: white;
  font-size: 2em;
}

.bodyBlack {
  background: var(--color-primary) !important;
  color: var(--color-whte) !important;
}

.headerBlack {
  background: #1b1b1b !important;
}

.mobile-nav__item a {
  color: #181818 !important;
}

.bodyBlack .project__head {
  @media (any-hover: hover) {
    &:hover {
      background: #222222 !important;
    }
  }
}

.footer-offer {
  margin-top: -70px;
  border-radius: 98px 98px 0 0 !important;

  .footer__decor {
    background: var(--color-bg) !important;

    &::before {
      content: "";
      background: var(--color-whte) !important;
    }

    &::after {
      content: "";

      background: var(--color-whte) !important;
    }
  }

  &.footer__link {
    display: none;
  }

  @media (max-width: 768px) {
    border-radius: 36px 36px 0 0 !important;
  }

  @media (any-hover: hover) {
    &:hover {
      .footer__decor {
        &::before {
          content: "";
          background: var(--color-primary) !important;
        }

        &::after {
          content: "";
          background: var(--color-primary) !important;
        }
      }
    }
  }
}

.pb-70.callback {
  padding: 128px 0 196px 0;

  @media (max-width: 75.06125em) {
    padding: 64px 0 70px 0;
  }
}

.footer--whte.footer-offer .footer__link {
  background: var(--color-alt) !important;

  svg path {
    fill: white;
  }
}

.footer-main {
  @media (max-width: 776px) {
    &::before {
      content: "";

      background: var(--color-alt) !important;
    }

    .footer__decor {
      &::before {
        content: "";

        background: var(--color-alt) !important;
      }

      &::after {
        content: "";

        background: var(--color-alt) !important;
      }
    }

    .footer__container {
      path {
        fill: #fff !important;
      }
    }

    .footer__link {
      border-color: #fff !important;
    }

    .footer__comment {
      color: #fff !important;
    }
  }
}

.intro__content {
  @media (min-width: 776px) {
    width: 416px;
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
    background: white;
  }
}

.lottie-mobile {
  width: auto !important;
}
