.content {
  margin-left: -1.5px;
}

.swiper {
  opacity: 0;

  right: -150px;
}

.cardInfo {
  left: 0px !important;
  position: relative !important;
  opacity: 1 !important;
  bottom: 0px !important;
  transition: all 2s ease 0s;
}

.cardInfoBefore {
  bottom: -150px;
  left: -150px;
  position: relative;
  opacity: 0;
  transition: all 2s ease 0s;
}

.contentCards {
  // transform: translate3d(0px, 0px, 0px) !important;
  right: 0px !important;
  opacity: 1 !important;
  transition: all 2s ease 0s;
}

.contentCardsBefore {
  // transform: translate3d(0px, 0px, 0px);
  right: -60px;
  opacity: 0;
}

.introRow {
  // padding-right: 60px;
}
