.block {
  position: relative;
  border-radius: 32px;
}

.banner {
  margin-bottom: 100px;

  @media (max-width: 1650px) {
    margin-bottom: 50px;
  }
}

.body {
  grid-template-columns: 1.2fr 0.63fr;
  overflow: hidden;
  grid-template-rows: 1fr 250px;
  // grid-template-rows: 0.5fr 0.42fr;

  gap: 20px 20px;
  grid-template-areas:
    "div1 div2"
    "div1 div3";

  @media (max-width: 1250px) {
    //   grid-template-rows: 0.58fr 0.47fr;
    //   grid-template-columns: 730px 1fr;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (min-width: 1250px) {
    display: grid;
  }
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 16px;
}

.one {
  grid-area: div1;
  // max-height: 730px;
  overflow: hidden;
  z-index: 2;

  max-height: 777px;

  // height: 777px;
  // @media (max-width: 1450px) {
  //   height: 600px;
  // }

  @media (min-width: 1250px) {
    height: calc(100vh - 140px - 70px - 50px);
  }

  @media (max-width: 1250px) {
    height: 590px;
  }
  @media (max-width: 991px) {
    height: 484px;
  }
  @media (max-width: 600px) {
    height: 621px;
  }
}
.two {
  grid-area: div2;
  background: #edeff1;
  overflow: hidden;

  //   height: 410px;
  @media (max-width: 1250px) {
    height: 336px;
  }

  @media (max-width: 600px) {
    height: 250px;
  }

  p {
    font-size: 28px;

    max-width: 290px;

    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 1;

    @media (max-width: 1450px) {
      font-size: 22px;

      top: 28px;
      left: 28px;

      max-width: 240px;
    }

    @media (max-width: 1250px) {
      font-size: 28px;

      top: 32px;
      left: 36px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
      top: 24px;
      left: 20px;
    }
  }
}
.three {
  grid-area: div3;
  background: #edeff1;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  // padding: 32px 12px 32px 32px;
  padding: 12px 12px 12px 32px;
  z-index: -1;

  @media (max-width: 1250px) {
    height: 290px;
  }
  @media (max-width: 600px) {
    height: 360px;

    padding: 28px 8px;
  }
}

.blockVideo {
  width: 100%;
  height: 100%;
  // position: relative;
  position: absolute;
  top: 0;
  left: 0;

  button {
    z-index: 50;

    height: 56px;

    border: 1px solid rgb(24, 24, 24);
    border-radius: 100px;

    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 600px) {
      max-width: 233px;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    p {
      padding-left: 57px;

      @media (max-width: 600px) {
        display: flex;
        padding: 0;
        justify-content: center;
        width: 100%;
      }
    }

    span {
      width: 48px;
      height: 48px;
      background: var(--color-alt);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 4px;
      transition: all 0.3s ease 0s;
      flex: 0 0 48px;

      @media (max-width: 600px) {
        transform: rotate(-45deg);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        span {
          transform: rotate(-45deg);
          background: #181818;
        }
      }
    }
  }
}

.videoContent {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 48px 32px 48px;
  max-width: 727px;
  width: 100%;

  @media (max-width: 1450px) {
    max-width: 607px;
  }

  @media (max-width: 1250px) {
    padding: 30px 70px 24px 36px;
  }

  @media (max-width: 600px) {
    gap: 34px;
    padding: 20px 20px 28px 20px;
  }
  &::after {
    content: "";
    position: absolute;
    backdrop-filter: blur(60px);
    background: rgba(255, 255, 255, 0.1);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px 24px 0px 24px;
  }
}

.videoTitles {
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 15px;

  h3 {
    font-size: 36px;
    font-weight: 600;

    @media (max-width: 1450px) {
      font-size: 32px;
    }
    @media (max-width: 600px) {
      font-size: 28px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 116%;
  }
}

.video {
  width: 100%;
  overflow: hidden;
  height: calc(100% + 2px);
  //   height: 100%;
  object-fit: cover;

  border-radius: 32px;
}

.image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;

  img {
    max-width: 100%;
  }

  @media (max-width: 1450px) {
    max-width: 85%;
  }

  @media (max-width: 1250px) {
    max-width: 53%;
  }
  //   @media (max-width: 991px) {
  //     max-width: 60%;
  //   }
  @media (max-width: 850px) {
    max-width: 75%;
  }
}

.threeBody {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  //   width: 330px;
  flex: 0 0 auto;
  width: 100%;
  max-width: 330px;

  @media (max-width: 1650px) {
    max-width: 250px;
  }

  @media (max-width: 1450px) {
    padding: 16px 0px;
  }

  @media (max-width: 1250px) {
    max-width: 330px;
  }

  @media (max-width: 600px) {
    max-width: 100%;
    padding: 0;
  }
}

.threeTitle {
  font-size: 28px;
  position: absolute;
  top: 10px;
  left: 0;

  @media (max-width: 1650px) {
    font-size: 22px;
  }

  @media (max-width: 1250px) {
    font-size: 28px;

    top: 0;

    // top: 32px;
    // left: 36px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }

  @media (max-width: 1450px) {
    top: 16px;
    padding-right: 8px;
  }
}

.threeBottom {
  z-index: 50;

  max-width: 271px;
  height: 56px;

  border: 1px solid rgb(24, 24, 24);
  border-radius: 100px;

  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1650px) {
    max-width: 238px;
  }
  @media (max-width: 600px) {
    max-width: 100%;
  }

  p {
    padding-left: 57px;

    @media (max-width: 1650px) {
      padding-left: 34px;
    }
    @media (max-width: 600px) {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }

  span {
    width: 48px;
    height: 48px;
    background: var(--color-alt);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    transition: all 0.3s ease 0s;
    flex: 0 0 48px;

    @media (max-width: 600px) {
      transform: rotate(-45deg);
    }
  }

  @media (any-hover: hover) {
    &:hover {
      span {
        transform: rotate(-45deg);
        background: #181818;
      }
    }
  }
}

.threeBlock {
  background: white;
  width: 185px;
  flex: 0 0 auto;
  border-radius: 20px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  position: absolute;
  right: 0;
  top: 0;

  > div:first-child {
    position: relative;

    @media (min-width: 600px) {
      &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        height: 2px;
        background: #9d9d9d;
        opacity: 0.5;
        width: 100%;

        @media (max-width: 1450px) {
          bottom: -17.5px;
        }

        @media (max-width: 1250px) {
          bottom: -30px;
        }
      }
    }

    @media (max-width: 600px) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -30px;
        height: 100%;
        background: #9d9d9d;
        opacity: 0.5;
        width: 2px;
      }
    }
  }

  @media (min-width: 600px) {
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: 1650px) {
    width: 155px;
  }

  @media (max-width: 1450px) {
    padding: 20px 0;
    gap: 35px;
  }

  @media (max-width: 1250px) {
    gap: 60px;
  }

  @media (max-width: 600px) {
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 128px;
  }
}

.threeBlockBlocks {
  position: relative;
}

.threeBlockSection {
  display: flex;
  flex-direction: column;
}

.threeBlockTitle {
  font-size: 14px;
  color: #7f7f7f;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}
.threeBlockPrice {
  font-size: 34px;
  text-align: center;
  line-height: 35px;

  padding-top: 15px;
  font-weight: 600;

  @media (max-width: 1450px) {
    font-size: 30px;
  }
  @media (max-width: 600px) {
    padding-bottom: 5px;
  }
}
.threeBlockTotal {
  font-size: 16px;
  text-align: center;
}
