.footer {
  overflow: visible !important;
}

.footerDop {
  @media (min-width: 767px) {
    overflow: hidden;
    height: 430px;
  }
}

.dark {
  background: #222222 !important;

  @media (any-hover: hover) {
    &:hover {
      span {
        &::after {
          content: "";
          background: #caff00 !important;
        }
      }
    }
  }

  span {
    background: #181818 !important;

    &::before {
      content: "";
      background: #222222 !important;
    }

    &::after {
      content: "";
      background: #222222 !important;
    }
  }

  button {
    @media (any-hover: hover) {
      &:hover {
        background: #caff00 !important;

        svg path {
          fill: black !important;
        }
      }
    }
  }

  &::before {
    content: "";

    background: #222222 !important;
  }
}

@media (max-width: 1350px) {
  .title {
    overflow-wrap: break-word;
  }
}
